.App {
  text-align: center;
}

.navbar {
  background: aquamarine;
}

.chat-window {
  height: 88vh;
}

.col-sm-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.form-submit-btn {
  width: 20%;
}

.message-body {
  font-size: 1.4rem;
}

#message-input {
  width: 80%;
}
