.App {
  text-align: center;
}

.main-chat-view {
  height: 88vh;
}

.col-sm-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.message-body {
  font-size: 1.4rem;
}

.selected-topic {
  font-size: 1.6rem;
}

.topics {
  font-size: 1.3rem;
}

.form-submit-btn {
  width: 20%;
}

#message-input {
  width: 80%;
}
