.App {
  text-align: center;
}

.navbar {
  background: aquamarine;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar {
  height: 100vh;
}

.col-sm-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.message-form {
  flex-direction: row;
  justify-content: space-between;
}

.form-submit-btn {
  width: 20%;
}

#message-input {
  width: 80%;
}